:root {
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #6c757d;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;
  --menu-color: rgba(255, 255, 255, .55);
  --footerColor: #3d3d3d;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  /* font-size: 62.5%; */
  scroll-behavior: smooth;
}

body a, .cardMore a {
  text-decoration: none;
}

body ul {
  padding: 0;
}

body li {
  list-style: none;
}

/* NAVBAR FROM BOOTSTAP */

.navbar {
}

/*El es container principal dentro del Nav */
.container-fluid {
  width: 90% !important;

}

/* Div container del nav menu */
#navbarNavDropdown {}

/* Para darle el tamaño inicial a la imagen */
.navbarImg img {
  width: 100px;
}

/* La class del ul */
.navbar .navbar-nav {
  /*height: 20px; para que el nav-item no se mueve al expandir el dropdown-menu */
  text-align: center;
  /*para que los items queden alineados en el menú hamburguesa */
  margin-top: 1rem;
}

.nav-item .nav-link {
  color: var(--gray-100) !important;
  margin-right: 1rem;
  /*separamos un poquito los nav items*/
  margin-bottom: 1rem;
}

.nav-item .nav-link:hover {
  color: #c2a476 !important;
}

.nav-item .nav-link.active {
  color: #c2a476 !important;
}

/*ocultamos el dropdown menu 1 al cargar la web*/
.dropDown1 {
  display: none;
}

/*le aplicamos estilo a los sub-items*/
.dropDown1 li {
  color: var(--gray-100);
  background-color: var(--footerColor);
  padding: 0.5rem;
}


/* SHOWCASE */
.showcase {
  position: relative;
  /*para que funcione el parallax*/
  height: 100vh;
  /*se podria omitir, porque la imagen le esta dando el alto, pero si la imagen no carga es mejor ponerlo */
  overflow: hidden;
  /**/
  font-size: 1rem;
  color: var(--gray-200);
}

.parallax {
  position: relative;
  /*para que funcione el parallax*/
  background-image: url(../images/lolaMora.jpg);
  /*cargamos la imagen del parallax*/
  background-size: cover;
  /*le damos formato cover*/
  background-repeat: no-repeat;
  height: 100vh;
}

/*para generar ese efecto sobre la imagen, agregamos un div con la class="shadow" 
la hacemos del 100% del div que la contiene
y le aplicamos un rgba negro con un alpha de 0.5*/
.shadow {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}

/*Definimos un container flex*/
.container-flex {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.showcase .showcaseContent {
  position: relative;
  width: 50%;
  margin-bottom: 20vh;
  text-align: center;
}

.showcase .buttonarea {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.showcase .buttonarea a {
  text-decoration: none;
}

.btn {
  padding: 0.5rem 2rem;
  margin: 0.5rem;
  border-radius: 5px;
}

.btnTransparent {
  text-decoration: none;
  padding: 0.5rem 2rem;
  margin: 0.5rem;
  border-radius: 5px;
  color: var(--gray-200);
  background-color: rgba(194, 164, 118, .3);
  ;
  border: 1px solid rgba(194, 164, 118, .8);
  font-size: 1.2rem;
}

.btnTransparent:hover {
  background-color: rgba(194, 164, 118, .5);
  border: 1px solid rgba(194, 164, 118, .5);
  color: var(--gray-300);
  transform: scale(0.99);
  transition: 0.5s;
}

.btnTransparent:active {
  background-color: rgba(194, 164, 118, .7);
}

.btnSolid {
  text-decoration: none;
  padding: 0.2rem 2rem;
  color: var(--gray-800);
  font-size: 1.2rem;
  background-color: transparent;
  border: 2px solid var(--gray-800)
}

.btnSolid:hover {
  background-color: var(--gray-600);
  border: 2px solid var(--gray-800);
  color: var(--gray-100);
}

/* ------------------- PUBLICACIONES --------------------*/

.publicaciones {
  width: 90%;
  margin: 6rem auto;

}

/* CONTENEDOR TITULO Y CONTROLES */
.publicaciones .indicadores button {
  background: var(--gray-900);
  height: 10px;
  width: 100px;
  cursor: pointer;
  border: none;
  margin-right: 2px;
}

.publicaciones .indicadores button:hover,
.publicaciones .indicadores button.active {
  background: red;
}

/* CONTENEDOR PRINCIPAL Y FLECHAS */
.publicaciones .mainContainer {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  position: relative;

}

.mainContainer .leftArrow,
.mainContainer .rightArrow {
  position: absolute;
  border: none;
  background: rgba(194, 164, 118, 0.7);
 /* Por default
 font-size: 40px;
  height: 20%;
  line-height: 40px;
  width: 50px; */

  width: 50px;
  height: 50px;
  font-size: 30px;
  top: calc(50% - 10%);
  color: var(--gray-100);
  cursor: pointer;
  z-index: 500;
  transform: .2s ease all;
  border-radius: 50%;
}

.mainContainer .leftArrow:hover,
.mainContainer .rightArrow:hover {
  background: rgba(194, 164, 118, 0.3);
  color: #c2a476;
}

.mainContainer .leftArrow {
  left: -50px;
}

.mainContainer .rightArrow {
  right: -50px;
}


.containerCarousel {
  width: 100%;
  height: 600px;
  padding: 1rem 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.containerCarousel .carousel {
  display: flex;
  flex-wrap: nowrap;
  height: auto;
}

.publicaciones .card {
  /* min-width: 50%; */
  height: 100%;
  cursor: pointer;
  transition: 0.3s ease all;
  border: none;
}

.publicaciones .card:hover {
  transform: scale(1.02);
  }


.containerCard {
    /* background-color: rgba(0, 0, 0, 0.1); */
  width: 100%;
  height: 100%;
  display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
}

.cardContent {
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)); */
  width: 90%;
  height: 90%;
  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--gray-900);
  padding: 0.5rem;
  /* border: 1px solid #c2a476; */
  /* border-top: 30px solid #c2a476; */
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}


.cardContent .range{
  margin: 0.5rem 0;
}

.cardContent .range h5{
padding: 0px;
margin: 0px;
padding: 0.2rem;
color: var(--gray-900);
}

.cardContent .range h6{
padding: 0px;
margin: 0px 0.5rem;
}

.card ul {
  margin: 0;
  padding: 0;
}

.title {
  font-size: 1.2rem;
  font-weight: 700;
 /* border: 1px solid var(--gray-700); */
  padding: 0.5rem;
  border-radius: 5px;
  /* height: 100%; */
}


.card .author {
  display: none;
}

.author p {
  font-size: 1rem;
}

.cardMore a{
  color: var(--gray-700)
}
.cardMore a:hover{
  color: #c2a476;
  transform: scale(0.8);
}

.cardMore a:hover::after{
  font: var(--fa-font-solid);
  content: "\f178";
  color: #c2a476
}

.card1, .card2, .card3, .card4, .card5, .card6, .card9 {
  /* background-image: url(../images/publicacionBanner.jpeg); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 200px;
}

.banner{
  height: 200px;
}

.card .range {
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.card .range .yellow {
color: #c2a476;
border-radius: 5px;
}

.card .range .cyan {
  background-color: rgb(0, 195, 255);
  color: white;
  border-radius: 5px;
}

.card .range .grey {
  background-color: grey;
  color: white;
  border-radius: 5px;
}

.card .range .magenta {
  background-color: rgb(161, 18, 49);
  color: white;
  border-radius: 5px;
}

.card .description{
  padding: 0.5rem;
}

/* EXPOSICIONES VIRTUALES */

.exposicionesVirtuales {
  position: relative;
}

.parallax2 {
  position: relative;
  background-image: url(../images/galeriaArte_16x9_1920.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 45vh;
  color: var(--gray-200);
}

.containerColumn {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.separator {
  background-color: #c2a476;
  height: 1px;
  width: 100px;
  display: block;
  margin: 1rem;
}

.separatorCard {
  background-color: #184E77;
  height: 25px;
  width: 97%;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  display: block;
  align-self: center;

}
.separatorCard2 {
  background-color: #1E6091;
  height: 5%;
  width: 95%;
  display: block;
  margin: 1rem;
}
.separatorCard3 {
  background-color: #1A759F;
  height: 50px;
  width: 350px;
  display: block;
  margin: 1rem;
}
.separatorCard4 {
  background-color: #168AAD;
  height: 50px;
  width: 350px;
  display: block;
  margin: 1rem;
}

/* CONTACT */
.contactForm {
  margin: 5rem 0;
}

.containerForm {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.containerForm .inputFirstName, .inputLastName, .inputEmail, .inputMessage {
  margin: 0.5rem 0;
  background-color: #f2f2f2;
  border: none;
  padding: 3px 5px;
}

.containerForm .btnSolid {
  margin: 0 auto;
  margin-top: 1rem;
}

.containerForm .inputAreaFirstName,
.containerForm .inputAreaLastName{
 width: 49%;
}

.containerForm .inputAreaEmail,
.containerForm .inputAreaText{
 width: 100%;
}

.containerForm .inputAreaFirstName .inputFirstName,
.containerForm .inputAreaLastName .inputLastName{
  width: 100%;
  padding: 0.4rem 0.7rem;
}


.containerForm .inputError{
  margin-left: 0.5rem;
  font-size: 0.8rem;
  color: red;
  margin-bottom: 0;
}


.containerForm .inputEmail,
.inputMessage {
  width: 100%;
  padding: 0.4rem 0.7rem;
}

.ajax input:focus{
  background-color: #ccc;
outline: none;
}

.ajax textarea:focus{
  background-color: #ccc;
 outline: none;
}

.containerForm .inputError{
  display: flex;
  flex-direction: column;
}

.containerForm .inputArea p{
  background-color: transparent ;
}

.contactForm .btnSubmit{
  background-color : #a3b18a !important;
  color: var(--gray-100) !important;
  font-weight: 600;
  border: none;
  transition: 0.5s ease-in-out;
}
  

/* FOOTER */

.footer {
  background-color: var(--footerColor);
  color: var(--gray-200);
}

.containerFooter {
  width: 70%;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}


.footerLogo {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.footerLogoSocial{
margin: 1rem ;
}

.footerLogoSocial a{
  margin: 0 0.3rem ;
  color: var(--gray-200);
  }

.footerSocial {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  justify-content: flex-start;
  margin-top: 1.5rem;
}

.footerSocial a,
.footerNav a {
  font-size: 0.9rem;
  color: var(--gray-200);
}

.footerSocial li,
.footerNav li {
  padding-top: 5px;
}

.footerSocial a:hover,
.footerNav a:hover {
  color: #c2a476;
}


.footerNav {
margin-top: 1rem;
}

.footerLogo img {
  width: 100px;
}

.footer .container-footer a {
  text-decoration: none;
  color: var(--gray-200);
  padding: 3rem 0;
  width: 100px;
  text-align: center;
}

.footer .container-footer a:hover {
  color: var(--gray-500);
}


/* ****************************************************** */
/* MEDIA QUERIES */
/* ****************************************************** */

/* MEDIA QUERIES LG 992*/
@media(max-width: 992px) {

  /* NAVBAR FROM BOOTSTAP */



  /* SHOWCASE */


  /* SPEAKERS */

  /*EXPOSICIONES VIRTUALES */
  .parallax2 {
    background-image: url(../images/galeriaArte_16x9_1000.jpg);
  }


  .showcase .showcaseContent {
    width: 100%;
    margin-bottom: 20vh;
    text-align: center;
  }

  .showcase .buttonarea {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .form .container-form {
    width: 65vw;
  }

}

/* CONTACTANOS */



/* FOOTER */
.footerLogoSocial{
  display: none;
}

/* MEDIA QUERIES MD 768*/

@media(max-width: 768px) {

  /* NAVBAR FROM BOOTSTAP */
  /* Para darle el tamaño inicial a la imagen */
  .navbarImg img {
    display: none;
  }


  /* SHOWCASE */


  /* SPEAKERS */

  /* EXPOSICIONES VIRTUALES */
  .parallax2 {
    height: 30vh;
    background-image: url(../images/galeriaArte_16x9_1000.jpg);
  }

  /* CONTACTANOS */

  .containerColumn {
    width: 90%;
  }

  /* FOOTER */

  .containerFooter {
    width: 90%;
  }

  .footerLogoSocial{
    display: none;
  }

  .footerLogo img {
    width: 70px;
  }

  .footerLogo {
  }

  .footerSocial {

  }

  .footerNav {

  }

  .container-cta {
    display: flex;
    flex-direction: column;
  }

  .container-cta img {
    width: 100vw;
  }

  .container-cta .cta-content>* {
    display: block;
    text-align: center !important;
  }

  .cta-content .btn {
    width: 50%;
    margin: 0 auto;
  }

  .form .container-form .first-last-name {
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  .form .container-form .first-last-name .input-name {
    width: 100%;
    margin-bottom: 1rem;
  }

  .form .container-form {
    width: 80vw;
  }


}


/* MEDIA QUERIES SM 576*/
@media(max-width: 576px) {

  /* NAVBAR FROM BOOTSTAP */



  /* SHOWCASE */


  /* PUBLICACIONES */

  .publicaciones {
    width: 90%;
    margin: 3rem auto;
  
  }

  /* EXPOSICIONES VIRTUALES */
  .parallax2 {
    height: 40vh;
    background-image: url(../images/galeriaArte_16x9_720.jpg);
  }

  .exposicionesVirtuales .content{
    padding: 0.5rem 0;
  }

.exposicionesVirtuales .content h1{
  text-align: center;
  font-size: 1.7rem;
}

.exposicionesVirtuales .content .btnTransparent{
  padding: 0.2rem 0.8rem;
}

.exposicionesVirtuales .content a{
  font-size: 1rem;
}

  /* CONTACTANOS */

  .contactForm {
    margin: 3rem 0;
  }

  .containerForm .inputAreaFirstName,
  .containerForm .inputAreaLastName{
   width: 100%;
  }

  /* FOOTER */
  .footerSocial{
    display: none;
  }

  .footerLogo img {
margin-top: 1rem;
    }

  .footerLogoSocial{
    display: contents;
    display: flex;
  }



  .showcase .buttonarea {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }



}